p,
label,
.przycisk {
  font-family: 'Open Sans', sans-serif; }

span {
  color: #ecd407; }

label {
  margin-top: 10px;
  color: white;
  font-size: 15px; }

h2 {
  font-size: 15px;
  color: white; }

input {
  width: 100%; }

textarea {
  width: 100%; }

.przycisk {
  width: 30%;
  height: 50px;
  background-color: #ecd407;
  margin: 0;
  border: 0;
  font-weight: bold; }

.glowna {
  height: 100vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #292929; }
  .glowna div {
    height: 20vh; }
    .glowna div .gora .col-md-3.finanse {
      display: flex;
      flex-direction: row; }
      .glowna div .gora .col-md-3.finanse .text-left {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 0; }
    .glowna div .gora .col-md-3.telefonIkona {
      color: white;
      font-size: 30px;
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
      margin-top: 15px; }
    .glowna div .gora .col-md-3 {
      margin-left: 0; }
      .glowna div .gora .col-md-3 .text-left.zadzwon {
        margin-bottom: 0px;
        margin-top: 15px;
        font-size: 10px; }
      .glowna div .gora .col-md-3 .text-left.numer {
        font-size: 15px; }
    .glowna div .centrum p {
      font-size: 20px; }
    .glowna div .centrum div .form {
      margin-top: 15px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: #001d8a; }
      .glowna div .centrum div .form label {
        width: 100%; }

.fas.fa-university {
  margin-top: 10px;
  color: #ecd407;
  font-size: 30px;
  margin-right: 8px; }

.fas.fa-envelope,
.fas.fa-phone.foot {
  color: #292929;
  background-color: #ecd407;
  font-size: 20px;
  padding: 12px;
  margin-bottom: 10px; }

.container-fluid {
  height: 100vh; }

.text-left,
.text-center {
  color: white;
  margin-bottom: 0;
  margin-top: 0; }

footer {
  background-color: #292929; }
  footer .container-fluid {
    background-color: #292929;
    height: 30vh; }

.text-center.tekstKoncowy {
  font-size: 12px;
  margin-top: 15px; }

.col-md-6.ikony {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
